.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.m-5 {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 25px;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa
}

.list-unstyled {
  list-style: none;
}